$col-black: #111111;
$col-white: #ffffff;
$col-orange: #c96033;
$col-boulder: #777777;
$col-gray: #aaaaaa;
$font-bebas: "Bebas Neue", sans-serif;
$font-sauce: "Open Sauce", arial;
$gradient: linear-gradient(
  90deg,
  rgba(231, 223, 179, 0.5) 0%,
  rgba(235, 179, 210, 0.5) 100%
);
